<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" type="text/css"/>
    <title th:text="#{task.title.Home}">Home</title>
</head>
<body>
<nav th:replace="~{fragments/navTop::navTop}"></nav>
<div class="row">
  <div class="col-md-2">
<div th:replace="~{fragments/navSide::navSide}"></div>
  </div>
  <div class="col-md-9 container text-center">
    <h1 style="text-align: center" th:text="#{task.title.List}">Lista de Tareas</h1>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{task.form.title}">Titulo</th>
          <th th:text="#{task.form.dueDate}">Vencimiento</th>
          <th th:text="#{task.form.status}">Estado</th>
          <th th:text="#{task.title.options}" colspan="3">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="task:${taskList}"
            th:class="${task.status.getText() == 'Pendiente'} ? 'table-danger' : (${task.status.getText() == 'En Proceso'} ? 'table-warning' : 'table-success')">
          <td th:text="${task.title}">Titulo</td>
          <td th:utext="${task.allDay} ? ${task.dueDate} + '<br> Todo el día' : ${task.dueDate} + '<br> ' + ${task.time}">Fecha de vencimiento</td>
          <td>
            <form method="post" th:action="@{updateStatus/{id}(id = ${task.id})}">
              <select class="form-select-sm" name="status">
                <option th:each="status : ${T(com.javi.tareas.entities.Status).values()}"
                        th:value="${status}" th:text="${status.getText()}"
                        th:selected="${status == task.status}"></option>
              </select>
              <button type="submit" class="btn btn-outline-dark btn-sm" th:text="#{task.title.update}">Actualizar</button>
            </form>
          </td>
          <td>
            <a href="#" class="lnkConfirmDelete" data-bs-toggle="modal" data-bs-target="#miModal" th:data-task-id="${task.id}">
              <i class="fas fa-solid fa-trash" style="color: #000000;"></i>
            </a>
          </td>
          <td>
            <a href="#" class="lnkViewTask" data-bs-toggle="modal" data-bs-target="#viewTask" th:data-task-id="${task.id}">
              <i class="fas fa-solid fa-eye" style="color: #000000;"></i>
            </a>
          </td>
          <td>
            <a th:href="@{/home/editTask(idTask = ${task.id})}">
              <i class="fas fa-solid fa-pencil-alt" style="color: #000000;"></i>
            </a>
          </td>

        </tr>
        <tr>
          <td colspan="4" style="text-align: center">
            <a th:href="@{/home/newTask}">
              <button class="btn btn-primary" th:text="#{task.index.newTask}">Nueva Tarea</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="paraModal"></div>

  </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/task.js}"></script>
</body>
</html>