<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${taskDt.title}">Title</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav th:replace="~{fragments/navTop::navTop}"></nav>
    <div class="container mt-4">
        <div class="row">
            <a class="col d-flex justify-content-start display-4" th:href="@{/home/{id}(id = ${taskDt.idUser})}">
                <i class="fas fa-solid fa-arrow-left" style="color: #000205;"></i>
            </a>
            <h1 class="col d-flex justify-content-center" th:text="${taskDt.title}">Título</h1>
            <a class="col d-flex justify-content-end" th:href="@{/editTask(idTask= ${taskDt.id})}">
                <i class="fas fa-pencil-alt fa-3x" style="color: #000000;"></i>
            </a>
        </div>
        <div th:class="${taskDt.status.getText() == 'Pendiente'} ? 'alert alert-danger' : (${taskDt.status.getText() == 'En Proceso'} ? 'alert alert-warning' : 'alert alert-success')" role="alert">
            <h3 th:text="${taskDt.status.getText()}">Estado</h3>
        </div>
        <div class="alert alert-info" role="alert">
            <h3 th:text="${taskDt.allDay} ?
                            #{task.form.dueDate} + ' ' + ${taskDt.dueDate} + ' ' + #{task.form.allDay} :
                            #{task.form.dueDate} + ' ' + ${taskDt.dueDate} + ' ' + ${taskDt.time}">Fecha de Vencimiento</h3>
        </div>
        <h3 class="mt-4" th:text="#{task.form.description}">Descripción</h3>
        <p th:text="${taskDt.description}">Tarea</p>
    </div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>