<div th:fragment="navSide" class="sidenav bg-light p-3">
  <form th:action="@{/home/sortBy/submit}" method="post">
    <h6 class="mb-3">Ordenar por:</h6>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sortOption" id="titleRadio" value="title">
      <label class="form-check-label" for="titleRadio">Título</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sortOption" id="dateRadio" value="date">
      <label class="form-check-label" for="dateRadio">Fecha</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sortOption" id="statusRadio" value="status" checked>
      <label class="form-check-label" for="statusRadio">Estado</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Aplicar filtro</button>
  </form>
</div>
