<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title th:text="#{task.titleNewTask}">Nueva Tarea</title>
</head>
<body>
  <form method="post" th:action="@{/new}"
                        th:object="${taskDt}">
    <div class="mb-3 d-inline-flex p-2"
            th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
        <label for="title" class="form-label d-inline-flex p-2" th:text="#{task.form.title}">Titulo</label>
        <input type="text" class="form-control d-inline-flex p-2" id="title" placeholder="Tarea..." th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
              class="help-block" id="title-error">Errores</span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label" th:text="#{task.form.description}">Descripción</label>
        <textarea class="form-control" id="description" rows="12" th:field="*{description}"></textarea>
    </div>
    <div class="mb-3"
            th:classappend="${#fields.hasErrors('dueDate')} ? 'has-error'">
        <label for="dueDate" class="form-label" th:text="#{task.form.dueDate}">Fecha de vencimiento</label>
        <input class="form-control" type="date" id="dueDate" th:field="*{dueDate}">
        <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"
              class="help-block" id="dueDate-error">Errores</span>
    </div>
    <div class="mb-3 input-group">
        <label class="form-check-label" for="allDay" th:text="#{task.form.allDay}">Todo el día </label>
        <input class="form-check-input" type="checkbox" id="allDay" name="allDay" th:field="*{allDay}" onchange="horaOn()">
    </div>
    <div id="time-input" class="mb-3 input-group" style="display: block">
        <label for="time" th:text="#{task.form.time}">Hora</label>
        <input type="time" id="time" name="time" th:field="*{time}">
    </div>
    <div class="mb-3 input-group">
        <label class="input-group-text" for="status" th:text="#{task.form.status}">Estado</label>
        <select class="form-select" id="status" th:field="*{status}">
            <option value="" selected>...</option>
            <option th:each="status : ${T(com.javi.tareas.entities.Status).values()}"
                    th:value="${status}" th:text="${status.getText()}"></option>
        </select>
    </div>
      <button type="submit" class="btn btn-primary" th:text="#{task.form.saveNewTask}">Crear nueva Tarea</button>
  </form>

    <script>
        function horaOn() {
            const allDay = document.getElementById("allDay");
            const time = document.getElementById("time-input");

            if (allDay.checked) {
                time.style.display = "none";
            } else {
                time.style.display = "block";
            }
        }
    </script>
</body>
<footer>
    <table>
        <thead>
        <tr th:colspan="2" th:text="#{task.languages}">Idiomas</tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a th:href="@{/new?lang=en}">
                    <button class="btn btn-primary" style="color: red" th:text="#{task.btn.en}">Ingles</button>
                </a>
            </td>
            <td>
                <a th:href="@{/new?lang=es}">
                    <button class="btn btn-primary" style="color: yellow" th:text="#{task.btn.es}">Español</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</footer>
</html>