<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <h1 style="text-align: center">Lista de Tareas</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Vencimiento</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="task:${taskList}"
          th:class="${task.status.getText() == 'Pendiente'} ? 'table-danger' : (${task.status.getText() == 'En Proceso'} ? 'table-warning' : 'table-success')">
        <td th:text="${task.title}">Titulo</td>
        <td th:text="${task.description}">Descripción</td>
        <td th:text="${task.dueDate}">Fecha de vencimiento</td>
        <td th:text="${task.status.getText()}">Estado</td>
        <td><a th:href="@{/delete/{title}(title = ${task.title})}">Borrar</a></td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center">
          <a th:href="@{/new}">
            <button class="btn btn-primary">Nueva Tarea</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>